.body-container{
    max-width:1100px;
    min-width: 300px;
    margin: 0 auto;
    margin-top: 138px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 80px;
}
@media screen and (max-width: 1012px) {/*ajustar*/
    .body-container{
        margin-top: 178px;
    }
}
@media screen and (max-width: 766px) {
    .body-container{
        margin-top: 138px;
        margin-bottom: 100px;
    }
}


input:focus, textarea:focus{
    
}

.loginContainer .alertWarningColor{
    color: #FE2E2E
}


.pagination > li > a{
    cursor: pointer;
}

textarea{
    resize: none;
}

.container-fluid
{
    max-width:1200px;
}


.companyLogo{
    margin-top: -10px;
}



/*footer*/
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height
    margin-bottom: 60px;*/

}
.footer {
    position: absolute;
    bottom:0;
    width: 100%;
    /* Set the fixed height of the footer here */
    max-height: 130px;
    min-height: 60px;
    background-color: #4d4dff;
}

@media screen and (max-width: 730px) {
    .generalContainer, .container-slides {
        margin-bottom: 140px;
    }
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container2 {
    margin: 0 auto;
    width: auto;
    max-width: 740px;
    padding: 0 15px;
}

/*footer*/


.col-md-4.col-sm-6.col-xs-12,.col-md-3.col-sm-4.col-xs-12
{
    min-height: 89px;
}

.loader-gif {
    display: none;
    position:   fixed;
    z-index:    1031;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
}

.audit-fields label{
    width:100%;
    padding:5px;
    background:#e6e6e6;
    color:#000;

}

.label-display-name{
    font-weight:bolder;
}


.thead-style
{
    background-color: #cca700;
    color: #FFF;
}

h2{
    color:#B43104;
}



/*.table-scroll thead, .table-scroll tbody, .table-scroll tr, .table-scroll td, .table-scroll th { display: block; }

.table-scroll tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.table-scroll tbody {
    max-height: 300px;
    overflow-y: auto;
}

.table-scroll thead {
    width: 97%;
    width: calc(100% - 17px);
}*/